<div class="row">
    <div *ngIf="!onUpdate && !onAdd" class="col-md-12">
        <app-staychill 
            [answers]="boxesObservable" 
            [table_btnAction_funcs]="this.btnsActions"
            [updfunc]=""
            [addfunc]=""
            [externalUpdFunc]="this.openBoxeGestion"
            [externalAddFunc]="this.openBoxeGestion"
            [filterVal]="this.filterVal"
            
        >
    </app-staychill>
    </div>

    <div *ngIf="onUpdate || onAdd" class="col-md-8" >
        <app-staychill 
            [answers]="productsObservable" 
            [table_btnAction_funcs]="this.btnsAddableProductActions"
            [updfunc]=""
            [addfunc]=""
            [filterVal]=""
        >
    </app-staychill>
    </div>

    <div *ngIf="onUpdate || onAdd" class="col-md-4">
        <div class="container-fluid mat-elevation-z8 mat-table" style="margin-top: 108px!important;">
            <div class="row">
                <div class="col-md-12 text-center">
                    <H1><input type="text" matInput [value]="auditedBoxe.name" placeholder="Titre de la recette" (keyup)="changeBoxeName($event.target.value)" required></H1>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6"><input type="text" matInput [value]="auditedBoxe.price" placeholder="Prix?" (keyup)="changeBoxePrice($event.target.value)"></div>
                            <div class="col-md-6"><input type="text" matInput [value]="auditedBoxe.image" placeholder="Img?" (keyup)="changeBoxeImage($event.target.value)"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12"><input type="text" matInput [value]="auditedBoxe.description" placeholder="Description?" (keyup)="changeBoxeDescrption($event.target.value)"></div>
                        </div>
                    </div>
                    <!-- ici un NGFOR avec produit ( img / name / prix )-->
                    
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Image</th>
                            <th>Nom</th>
                            <th>Prix</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of auditedBoxe.products; let i = index">
                            <td><img class="img img-rounded" [src]="product.image" width="40px" height="40px"></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td> 
                                <!-- <button class="btn btn-sm btn-success ml-2 mr-2"> + </button>  -->
                                <button (click)="discardProductFromBoxe( i )" class="btn btn-sm btn-danger ml-2 mr-2"><i class="mdi mdi-delete mdi-18px"></i></button> 
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    <hr><br>
                    <button class="btn btn-success ml-2 mr-2" (click)="validationBoxeGestionPanel( auditedBoxe )" >Valider</button>
                    <button class="btn btn-danger ml-2 mr-2" (click)="cancelBoxeGestionPanel()">Annuler</button>
                </div>
            </div>
        </div>

    </div>


</div>

