<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img class="card-img-top img img-responsive border-dark border-right border-left border-top" src="assets/images/clients2.png" alt="Card image cap">
                    <div class="card-body border-left border-right border-dark">
                        <p class="card-text">Visionner et gérer les informations client !</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer btn btn-dark bg-dark" (click)="this.router.navigate(['section/customers'])">
                        CLIENTS
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive border-dark border-right border-left border-top" src="assets/images/commands.png" alt="Card image cap">
                    <div class="card-body border-left border-right border-dark">
                        <p class="card-text">Gérer le suivi et les informations concernant les commandes !</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer btn btn-dark bg-dark" (click)="this.router.navigate(['section/orders'])">
                        COMMANDES
                      </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card">
                    <img class="card-img-top img-responsive border-dark border-right border-left border-top" src="assets/images/farmMan3.png" alt="Card image cap">
                    <div class="card-body border-left border-right border-dark">
                        <p class="card-text">Visionner les producteurs et leurs produit !</p>
                        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                    <div class="card-footer btn btn-dark bg-dark" (click)="this.router.navigate(['section/producers'])">
                        PRODUCTEURS
                      </div>
                </div>
            </div>
        </div>
    </div>


    <br><br>


    <!-- <hr><br>

    <h1>Insert line chart below </h1>
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <div>
                        <h3 class="card-title m-b-5"><span class="lstick"></span>Sales Overview </h3>
                    </div>
                    <div class="ml-auto">
                        <select class="custom-select b-0">
                            <option selected="" value="0" >January 2017</option>
                            <option value="1">February 2017</option>
                            <option value="2">March 2017</option>
                            <option value="3">April 2017</option>
                        </select>
                    </div>
                </div>
                <div style="height:300px;" class="mt-4">
                    <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels1"
                        [options]="lineChartOptions1" [colors]="lineChartColors1" [legend]="lineChartLegend1"
                        [chartType]="lineChartType1"> </canvas>
                </div>
            </div>
        </div>
    </div> -->



</div>